* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--black-color);
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
}

img {
    display: block;
    max-width: 100%;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}