/* Header */

header {
    left: 0;
    padding: 4rem 0rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2022;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav .menu li {
    margin-right: 4.8rem;
}

header .container nav .menu-social {
    align-items: center;
    display: flex;
    gap: 3.4rem;
    justify-content: space-between;
    margin-left: 4rem;
}

header .container nav .menu-social li a img {
    transition: all 0.2s;
}

header .container nav .menu-social li a img:hover {
    filter: brightness(0.9);
    transform: translateY(-8%);
}

/* Section Hero */

 .s-hero {
     background: url(../img/s-hero-bg.jpg);
     background-position: fixed;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .s-hero .container {
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .s-hero .container .title-box {
     align-items: center;
     display: flex;
     flex-direction: column;
     margin-top: 24rem;
     max-width: 59.2rem;
     padding-bottom: 6rem;
     width: 100%;
 }

 .s-hero .container .title-box h1 {
     color: var(--white-color);
     font-family: "Inter", sans-serif;
     font-size: 6.4rem;
     font-weight: 700;
     line-height: 7.7rem;
     text-align: center;
 }

 .s-hero .container .title-box h1 span {
     color: var(--primary-color);
 }

 .s-hero .container .title-box h2 {
     color: rgba(255, 255, 255, 0.8);
     font-size: 2.4rem;
     font-weight: 400;
     line-height: 6rem;
     margin-bottom: 2rem;
     text-align: center;
 }

 .s-hero .container .title-box p {
     color: var(--second-color);
     font-family: "Poppins";
     font-size: 1.8rem;
     line-height: 2.7rem;
     text-align: center;
 }

 .s-hero .container .title-box .techs {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
    margin-top: 2.3rem;
 }

 .s-hero .container .title-box .techs img {
    transition: all 0.2s;
}

 .s-hero .container .title-box .techs img:hover {
     transform: translateY(-10%);
 }

 .s-hero .container .title-box .btn-primary {
     margin-top: 4rem;
     padding: 1rem 5.6rem;
 }

 /* Section Success */

 .s-success {
    margin: 0 auto;
    padding: 14.4rem 0;
 }

 .s-success .container {
     align-items: center;
     display: flex;
     gap: 4.4rem;
}

.s-success .container .cards {
    display: flex;
}

.s-success .container .title-success h2 {
    font-weight: 700;
    margin-top: 2rem;
}

.s-success .container .cards .card {
    background-color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    height: 30.4rem;
    margin-right: 3.3rem;
    transition: all 0.2s;
    width: 100%;
}

.s-success .container .cards .card:hover {
    filter: brightness(0.9);
    transform: scale(1.01);
}

.s-success .container .cards .card .card-title {
    margin: 5rem 0;
    padding-left: 1.4rem;
    padding-right: 14.5rem;
}

/* Ativo */

.s-success .container .cards .card.active {
    background-color: var(--primary-color);
}

.s-success .container .cards .card .card-title h3 {
    font-family: "Inter";
    font-size: 6.4rem;
    font-weight: 300;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-success .container .cards .card .card-info {
   padding-left: 1.4rem; 
}

.s-success .container .cards .card .card-info p {
    font-family: "Inter";
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3.9rem;
}

/* About */

.s-about {
    background-color: var(--black-color-medium);
    padding: 6rem 0;
}

.s-about .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.s-about .container .about-me {
    max-width: 71rem;
    width: 100%;
}

.s-about .container .about-me h2 {
    font-weight: 900;
}

.s-about .container .about-me p {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    line-height: 2.4rem;
    margin-top: 2.4rem;
}

.s-about .container .about-me ul {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    margin-top: 3.2rem;
}

.s-about .container .about-me ul li{
    transition: all 0.2s;
}

.s-about .container .about-me ul li:hover {
    transform: translateY(-8%);
}

.s-about .container .about-me ul li img {
    height: 2rem;
    width: 2rem;
}

.s-about .container .about-me .my-picture img {
    border-radius: 4px;
}

/* Cases */

.s-cases {
    padding: 5rem 0rem;
}

.s-cases .container {
    display: flex;
    flex-direction: column;
}

.s-cases .container .title-cases {
    margin-bottom: 7.4rem;
}

.s-cases .container .title-cases h2 {
    font-weight: 900;
}

.s-cases .container .cases {
    display: flex;
    width: 100%;
}

.s-cases .container .cases .case img {
    border-radius: 0.4rem;
    cursor: pointer;
    transition: all 0.2s;
}

.s-cases .container .cases .case img:hover {
    transform: translateY(-2%);
}

.s-cases .container .cases .case:nth-child(2) {
    border-radius: 0.4rem;
    cursor: pointer;
    margin-top: -1.6rem;
}

/* Contact */

.s-contact {
    padding-bottom: 5.1rem;
    padding-top: 4rem;
}

.s-contact .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.s-contact .container .title-contact {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    max-width: 34.3rem;
    width: 100%;
}

.s-contact .container .title-contact .tag {
    max-width: 13.2rem;
    width: 100%;
}

.s-contact .container .title-contact h2 {
    font-weight: 900;
}

.s-contact .container .form-contact {
    max-width: 48.6rem;
    width: 100%;
}

.s-contact .container .form-contact .input-group input[type="text"], 
.s-contact .container .form-contact .input-group input[type="email"] {
    margin-bottom: 3.1rem;
}

.input-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.7rem;
    width: 100%;
}

/* Footer */

footer {
    background-color: var(--black-color-medium);
}

footer .container {
    align-items: center;
    display: flex;
    justify-content: center;
}

footer .container .copy {
    color: rgba(255, 255, 255, 0.8);
    font-weight: 400;
    line-height: 2.4rem;
    padding: 5.2rem 0;
}