/* Header */

header {
    left: 0;
    padding: 4rem 0rem;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2022;
}

header .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav .menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

header .container nav .menu li {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 4.8rem;
}

header .container nav .menu-social {
    align-items: center;
    display: flex;
    gap: 3.4rem;
    justify-content: space-between;
    margin-left: 4rem;
}

/* Section Hero */

 .s-hero {
     background: url(../img/s-hero-bg.jpg);
     background-position: fixed;
     background-repeat: no-repeat;
     background-size: cover;
 }

 .s-hero .container {
     align-items: center;
     display: flex;
     flex-direction: column;
     justify-content: center;
 }

 .s-hero .container .title-box {
     align-items: center;
     display: flex;
     flex-direction: column;
     margin-top: 24rem;
     max-width: 59.2rem;
     padding-bottom: 6rem;
     width: 100%;
 }

 .s-hero .container .title-box h1 {
     color: var(--white-color);
     font-family: "Inter", sans-serif;
     font-size: 6.4rem;
     font-weight: 700;
     line-height: 7.7rem;
     text-align: center;
 }

 .s-hero .container .title-box h1 span {
     color: var(--primary-color);
 }

 .s-hero .container .title-box h2 {
     color: rgba(255, 255, 255, 0.8);
     font-size: 2.4rem;
     font-weight: 400;
     line-height: 6rem;
     margin-bottom: 2rem;
     text-align: center;
 }

 .s-hero .container .title-box p {
     color: var(--second-color);
     font-family: "Poppins";
     font-size: 1.8rem;
     line-height: 2.7rem;
     text-align: center;
 }

 .s-hero .container .title-box .techs {
    align-items: center;
    display: flex;
    gap: 1.6rem;
    justify-content: space-between;
    margin-top: 2.3rem;
 }

 .s-hero .container .title-box .btn-primary {
     margin-top: 4rem;
     padding: 1rem 5.6rem;
 }

 /* Section Success */

 .s-success {
    margin: 0 auto;
    padding: 14.4rem 0;
 }

 .s-success .container {
     align-items: center;
     display: flex;
     gap: 4.4rem;
}

.s-success .container .cards {
    display: flex;
}

.s-success .container .title-success h2 {
    font-weight: 700;
    margin-top: 2rem;
}

.s-success .container .cards .card {
    background-color: var(--white-color);
    border-radius: 4px;
    cursor: pointer;
    height: 30.4rem;
    margin-right: 3.3rem;
    width: 100%;
}

/* Ativo */

.s-success .container .cards .card.active {
    background-color: var(--primary-color);
}

.s-success .container .cards .card .card-title {
    margin: 5rem 0;
    padding-left: 1.4rem;
    padding-right: 14.5rem;
}

.s-success .container .cards .card .card-title h3 {
    font-family: "Inter";
    font-size: 6.4rem;
    font-weight: 300;
    line-height: 7.7rem;
    margin-bottom: 5.5rem;
}

.s-success .container .cards .card .card-info {
   padding-left: 1.4rem; 
}

.s-success .container .cards .card .card-info p {
    font-family: "Inter";
    font-size: 3.2rem;
    font-weight: 300;
    line-height: 3.9rem;
}